{{ define "home/index.html" }}
<html lang="en">
    <head>
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Index</title>
    </head>
    <body>
        <p>
            Date/Time is: {{.Time}}
        </p>

        <p>
            <a href="/map" class="w3-btn w3-teal w3-round-xlarge">View Montreal Map</a>
        </p>

        <p>
            <a href="/create-event" class="w3-btn w3-teal w3-round-xlarge">Créer un évènement</a>
        </p>
    </body>
</html>
{{ end }}