#event-form-container *, 
#event-form-container *:before, 
#event-form-container *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#event-form-container form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

#event-form-container h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

#event-form-container input[type="text"],
#event-form-container input[type="password"],
#event-form-container input[type="date"],
#event-form-container input[type="datetime"],
#event-form-container input[type="email"],
#event-form-container input[type="number"],
#event-form-container input[type="search"],
#event-form-container input[type="tel"],
#event-form-container input[type="time"],
#event-form-container input[type="url"],
#event-form-container textarea,
#event-form-container select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

#event-form-container input[type="radio"],
#event-form-container input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

#event-form-container select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

#event-form-container button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

#event-form-container fieldset {
    margin-bottom: 30px;
    border: none;
}

#event-form-container legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

#event-form-container label {
    display: block;
    margin-bottom: 8px;
}

#event-form-container label.light {
    font-weight: 300;
    display: inline;
}

#event-form-container .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {
    #event-form-container form {
        max-width: 480px;
    }
}
