{{ define "map/filter.html" }}
<div x-data>
    <button class="w3-btn w3-gray w3-margin-right w3-margin-bottom" @click="Object.keys($store.filters.categories).forEach(v => $store.filters.categories[v] = true); updateDataPointsWithFilter()">Sélectionner tout</button>
    <button class="w3-btn w3-gray w3-margin-right w3-margin-bottom" @click="Object.keys($store.filters.categories).forEach(v => $store.filters.categories[v] = false); updateDataPointsWithFilter()">Ne sélectionner rien</button>
    {{ range . }}
    <button 
    class="w3-btn w3-border w3-border-blue w3-margin-right w3-margin-bottom" 
    x-bind:class="$store.filters.categories['{{ . |  escapeSingleQuotes}}'] ? 'w3-blue' : 'w3-white'" @click="$store.filters.categories['{{ . |  escapeSingleQuotes }}'] = !$store.filters.categories['{{ . |  escapeSingleQuotes }}']; updateDataPointsWithFilter()"
    x-text="'{{ . |  escapeSingleQuotes }}'"
    ></button>
    {{ end }}
</div>
{{ end }}