{{ define "map/index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Montreal Map View - Événements publics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/mapStyle.css"> 
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/protomaps-leaflet@latest/dist/protomaps-leaflet.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="/static/L.KML.js" defer></script>

    <script>
        var markupLayer

        function addPopupContent(feature, layer) {
            const popupContent = `
                <div class="popup-content">
                    <h3>${feature.properties.name}</h3>
                    <h5>${feature.properties.category}</h5>
                    <p>${feature.properties.description.substring(0, 100)}...</p>
                    <p>Date: ${feature.properties.date}</p>
                    <a href="/event/${feature.properties.id}" target="_blank" class="w3-btn w3-white w3-border w3-border-blue w3-round w3-hover-indigo">More info</a>
                    <button onclick="openHelpModal('6969')" class="w3-button w3-green w3-margin" {{ if not .ActiveSession }} disabled title="Veuillez vous connecter" {{ end }}> <!-- change value to ${feature.properties.id}-->
                        Aider
                    </button>
                </div>
            `;
            layer.bindPopup(popupContent);
        }

        function addDataPoints(dataPairs, map) {
            dataPairs.forEach(geoJsonPair => {
                let myIcon = L.divIcon({
                    className: `w3-center w3-text-${geoJsonPair.style.color} w3-${"x".repeat(geoJsonPair.style.iconSize)}large material-symbols-rounded`,
                    html: geoJsonPair.style.icon,
                    popupAnchor: [geoJsonPair.style.iconSize*4+4, -6]
                });
                L.geoJSON(geoJsonPair.geoJson, {
                        pointToLayer: function (feature, latlng) {
                            return L.marker(latlng, {icon: myIcon});
                        },
                        onEachFeature: addPopupContent
                    }).addTo(map);
            });
        }

        function addPannesOverlay(map) {
            fetch('/get-pannes-overlay')
                .then(response => response.text())
                .then(kmltext => {
                    const parser = new DOMParser();
                    const kml = parser.parseFromString(kmltext, 'text/xml');
                    var kmlLayer = new L.KML(kml);
                    kmlLayer.addTo(map);
                });
        }

        function updateDataPointsWithFilter() {
            let data = Alpine.store('filters');
            let params = new URLSearchParams();
            Object.keys(data.categories).forEach(key => {
                if (data.categories[key]) {
                    params.append('map_object.category', key);
                }
            });
            if(history.pushState) {
                history.pushState(null, null, '/map?' + params.toString());
            }
            fetch('/map-json?' + params.toString())
                .then(response => response.json())
                .then(data => {
                    markupLayer.clearLayers();
                    addDataPoints(data, markupLayer);
                });
        }

        function openHelpModal(eventId) {
            document.getElementById('eventIdField').value = eventId;
            document.getElementById('helpModal').style.display='block';
        }
        
        document.addEventListener('DOMContentLoaded', function() {
            const map = L.map('map').setView([45.5017, -73.5673], 8);
            var layer = protomapsL.leafletLayer({
                url:'https://hackqc2024.cedille.club/my_area.pmtiles', 
                theme: 'light',
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            })  
            layer.addTo(map)
            
            markupLayer = L.layerGroup().addTo(map);
            
            let data = JSON.parse("{{ .MapItemsJson }}")
            addPannesOverlay(map)
            addDataPoints(data, markupLayer)
        });

        document.addEventListener('alpine:init', () => {
            Alpine.store('filters', {
                categories: {
                    {{ range .Categories }}
                    '{{ . }}': true,
                    {{ end }}
                }
            });
            let params = new URLSearchParams(window.location.search);
            if (params.size > 0) {
                let filters = Alpine.store('filters');
                Object.keys(filters.categories).forEach((v, k) => {
                    filters.categories[v] = params.getAll('map_object.category').includes(v);
                });
                Alpine.store('filters', filters);
            }
        });
    </script>
</head>
<body>

{{ template "components/navbar" . }}

    <h2 class="w3-center">Événements d'urgence</h2>
    <div class="w3-container">
        <div class="w3-card w3-auto w3-round-large" style="width: 90vw;max-width: none;">
            <div x-data="{ categoriesDiv: false }" >
                <button @click="categoriesDiv = !categoriesDiv" class="w3-btn w3-border w3-border-gray w3-round-xlarge w3-margin" x-bind:class="categoriesDiv ? 'w3-blue' : 'w3-white'">
                    Catégories
                </button>
             
                <div x-show="categoriesDiv" class="w3-panel w3-padding-32 w3-topbar	 w3-border-blue" x-transition style="display: none;">
                    {{ template "map/filter.html" .Categories }}
                </div>
            </div>
        </div>

        <div id="map" class="w3-card w3-margin-top w3-auto w3-round-large" style="width: 90vw;height: 70vh;max-width: none;"></div>
    </div>

    <div id="helpModal" class="w3-modal">
        <div class="w3-modal-dialog">
            <div class="w3-modal-content w3-card-8">
                <header class="w3-container w3-teal">
                    <span onclick="document.getElementById('helpModal').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
                    <h2>Soumettre une demande d'aide</h2>
                </header>
                
                {{ template "forms/helpForm.html" . }}

                <footer class="w3-container w3-teal">
                    <p>Merci pour votre contribution!</p>
                </footer>
            </div>
        </div>
    </div>

    <p>
        <button onclick="document.getElementById('eventModal').style.display='block'"  class="w3-btn w3-teal w3-round-xlarge" {{ if not .ActiveSession }} disabled title="Veuillez vous connecter" {{ end }}>Créer un évènement</button>
    </p>

    <div id="eventModal" class="w3-modal">
        <div class="w3-modal-dialog">
            <div class="w3-modal-content w3-card-8">
                <header class="w3-container w3-teal">
                    <span onclick="document.getElementById('eventModal').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
                </header>
                
                {{ template "forms/eventForm.html" . }}

                <footer class="w3-container w3-teal">
                    <p>Merci pour votre contribution!</p>
                </footer>
            </div>
        </div>
    </div>

</body>
</html>
{{ end }}