{{ define "map/index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Montreal Map View - Événements publics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/protomaps-leaflet@latest/dist/protomaps-leaflet.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
        function addPopupContent(feature, layer) {
            const popupContent = `
                <div class="popup-content">
                    <h3>${feature.properties.name}</h3>
                    <h5>${feature.properties.category}</h5>
                    <p>${feature.properties.description.substring(0, 100)}...</p>
                    <p>Date: ${feature.properties.date}</p>
                    <a href="/event/${feature.properties.id}" target="_blank" class="w3-btn w3-white w3-border w3-border-blue w3-round w3-hover-indigo">More info</a>
                </div>
            `;
            layer.bindPopup(popupContent);
        }
        function addDataPoints(dataPairs, map) {
            dataPairs.forEach(geoJsonPair => {
                let myIcon = L.divIcon({
                    className: `w3-center w3-text-${geoJsonPair.style.color} w3-${"x".repeat(geoJsonPair.style.iconSize)}large material-icons`,
                    html: geoJsonPair.style.icon,
                    popupAnchor: [geoJsonPair.style.iconSize*4+4, -6]
                });
                L.geoJSON(geoJsonPair.geoJson, {
                        pointToLayer: function (feature, latlng) {
                            return L.marker(latlng, {icon: myIcon});
                        },
                        onEachFeature: addPopupContent
                    }).addTo(map);
            });
        }
        
        document.addEventListener('DOMContentLoaded', function() {
            const map = L.map('map').setView([45.5017, -73.5673], 8);
            var layer = protomapsL.leafletLayer({
                url:'http://34.49.192.250/my_area.pmtiles', 
                theme: 'light',
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            })  
            layer.addTo(map)
            let data = JSON.parse("{{ .MapItemsJson }}")
            addDataPoints(data, map)
        });
    </script>
</head>
<body>

{{ template "components/navbar" . }}

<div id="map-container" class="w3-container">
    <h3 style="text-align:center;">Événements d'urgence</h3>
    <div id="map" class="w3-margin-top w3-auto w3-round-large" style="width: 90vw;height: 70vh;max-width: none;"></div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/protomaps-leaflet@latest/dist/protomaps-leaflet.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</body>
</html>
{{ end }}