{{ define "map/index.html" }}
<!DOCTYPE html>
<html lang="en">

<head>

    {{ template "components/head.html" . }}

    <title>MUNIS - Carte</title>

    <link rel="stylesheet" href="/static/mapStyle.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/protomaps-leaflet@latest/dist/protomaps-leaflet.min.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.js"
        charset="utf-8"></script>
    <script src="/static/L.KML.js" defer></script>

    <style>
        .aa-Panel {
            z-index: 999999999999 !important;
        }

        @keyframes animatetop {
            from {
                top: -150px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }
    </style>

    <script>
        var markupLayer
        var panneLayer
        var map
        const array_chunks = (array, chunk_size) => Array(Math.ceil(array.length / chunk_size)).fill().map((_, index) => index * chunk_size).map(begin => array.slice(begin, begin + chunk_size));

        function addPopupContent(feature, layer) {
            let popupContent = `
                <div id="popup-content" class="popup-content">
                    <h3>${feature.properties.map_object.name}</h3>
                `


            if (feature.properties.map_object.name != feature.properties.map_object.category) {
                popupContent += `
                <h5>${feature.properties.map_object.category}</h5>`
            }

            if (feature.properties.map_object.description) {
                if (feature.properties.map_object.description.length > 100) {
                    popupContent += `
                <p>${feature.properties.map_object.description.substring(0, 100)}...</p>`
                } else {
                    popupContent += `
                <p>${feature.properties.map_object.description}</p>`
                }
            }

            popupContent += `
            <p>Date: ${feature.properties.date_readable}</p>
            `

            if (feature.properties.help.modified) {
                popupContent += `
                <p>Dernière modification: ${feature.properties.modification_date}</p>
                `
            }

            if (feature.properties.event._id) {
                popupContent += `
                        <button
                            class="w3-btn w3-white w3-border w3-border-blue w3-round w3-hover-indigo"
                            hx-trigger="click" hx-get="/event/${feature.properties.event._id}" 
                            hx-target="body"hx-swap="beforeend" 
                            hx-trigger="click"
                            >
                            Plus d'infos
                        </button>
                        <button class="w3-btn w3-white w3-round w3-border w3-border-amber w3-hover-orange" @click="updateDataPointsWithParams('show=${feature.properties.event._id}&event_id=${feature.properties.event._id}&type=helps');$store.showAideLieeCard=true">
                            Aides liées
                        </button>
                        <button @click="openHelpModal('${feature.properties.event._id}')" class="w3-btn w3-white w3-round w3-border w3-border-lime w3-hover-green" {{ if not .ActiveSession }} disabled title="Veuillez vous connecter" {{ end }}> 
                            Aider
                        </button>
                        <button @click="subscribeToEvent('${feature.properties.event._id}')" class="w3-btn w3-white w3-round w3-border w3-border-lime w3-hover-green" {{ if not .ActiveSession }} disabled title="Veuillez vous connecter" {{ end }}> 
                            Notifications
                        </button>
                        `
            }
            else if (feature.properties.help._id) {
                popupContent += `
                        <button
                            class="w3-btn w3-white w3-border w3-border-blue w3-round w3-hover-indigo"
                            hx-trigger="click" 
                            hx-get="/help/${feature.properties.help._id}" 
                            hx-target="body"hx-swap="beforeend" 
                            hx-trigger="click">
                            Plus d'infos
                        </button>
                        <button
                            class="w3-btn w3-white w3-border w3-border-blue w3-round w3-hover-indigo"
                            hx-trigger="click" 
                            hx-get="/event/${feature.properties.help.event_id}" 
                            hx-target="body"hx-swap="beforeend" 
                            hx-trigger="click"
                            @click="updateDataPointsWithParams('show=${feature.properties.help.event_id}&event_id=${feature.properties.help.event_id}&type=helps');$store.showAideLieeCard=true"
                            >
                            Évènement lié
                        </button>
                        `
            }

            popupContent += "</div>";
            layer.bindPopup(popupContent);
        }

        function addDataPoints(dataPairs, map) {
            dataPairs.forEach(geoJsonPair => {
                let myIcon = L.divIcon({
                    className: `w3-center w3-text-${geoJsonPair.style.color} w3-${"x".repeat(geoJsonPair.style.iconSize)}large material-symbols-rounded w3-display-container`,
                    html: '<div class="w3-display-middle">' + geoJsonPair.style.icon + '</div>',
                    iconSize: [30, 30],
                    iconAnchor: [15, 15],
                    popupAnchor: [0, 0]
                });
                if (geoJsonPair.geoJson.geometry.type === "Polygon") {
                    geoJsonPair.geoJson.geometry.coordinates = [array_chunks(geoJsonPair.geoJson.geometry.coordinates, 2)];
                }
                if (geoJsonPair.geoJson.properties.event.municipality_polygon != null) {
                    for (let i = 0; i < geoJsonPair.geoJson.properties.event.municipality_polygon.length; i++) {
                        L.polygon(geoJsonPair.geoJson.properties.event.municipality_polygon[i], {
                            color: geoJsonPair.style.color,
                            fillColor: geoJsonPair.style.fillColor,
                            fillOpacity: 0.15,
                            opacity: 0.1
                        }).addTo(map);
                    }
                }
                L.geoJSON(geoJsonPair.geoJson, {
                    pointToLayer: function (feature, latlng) {
                        return L.marker(latlng, { icon: myIcon });
                    },
                    onEachFeature: addPopupContent,

                }).addTo(map);
            });
        }

        function addPannesOverlay(map) {
            fetch('/get-pannes-overlay')
                .then(response => response.text())
                .then(kmltext => {
                    const parser = new DOMParser();
                    const kml = parser.parseFromString(kmltext, 'text/xml');
                    var kmlLayer = new L.KML(kml);
                    kmlLayer.addTo(map);
                });
        }

        function updateDataPointsWithFilter() {
            let data = Alpine.store('filters');
            let params = new URLSearchParams();
            let noFilter = true;
            Object.keys(data.categories).forEach(key => {
                if (data.categories[key]) {
                    params.append('map_object.category', key);
                    noFilter = false;
                }
            });
            if (noFilter) {
                params.append('map_object.category', '-1');
            }
            noFilter = true;
            Object.keys(data.urgencyLevels).forEach(key => {
                if (data.urgencyLevels[key]) {
                    params.append('urgency_type', key);
                    noFilter = false;
                }
            });
            if (noFilter) {
                params.append('urgency_type', '-1');
            }
            noFilter = true;
            Object.keys(data.dangerLevels).forEach(key => {
                if (data.dangerLevels[key]) {
                    params.append('danger_level', key);
                    noFilter = false;
                }
            });
            if (noFilter) {
                params.append('danger_level', '-1');
            }

            if (data.categories['Panne d\'électricité'] && data.urgencyLevels['1'] && data.dangerLevels['2']) {
                panneLayer.addTo(map);
            } else {
                panneLayer.remove();
            }

            updateDataPointsWithParams(params.toString());
        }

        function updateDataPointsWithParams(params) {
            if (history.pushState) {
                history.pushState(null, null, '/map?' + params);
            }
            urlParams = new URLSearchParams(params);
            fetch('/map-json?' + params)
                .then(response => response.json())
                .then(data => {
                    if (urlParams.get('type') == 'helps') {
                        panneLayer.remove();
                    } else {
                        panneLayer.addTo(map);
                    }
                    markupLayer.clearLayers();
                    addDataPoints(data, markupLayer);
                });
        }

        function openHelpModal(eventId) {
            document.getElementById('eventIdField').value = eventId;
            document.getElementById('helpModal').style.display = 'block';
        }

        function subscribeToEvent(eventId) {
            fetch('/events/subscribe/' + eventId, {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    response.text().then(text => {
                        alert(text);
                    });
                } else {
                    console.error('Error subscribing to event:', response.status);
                }
            })
        }

        function displayEventModal() {
            document.getElementById('eventModal').style.display = 'block'
            // document.getElementById('event_map_object_geometry_coordinates').style.display = 'none'
            // document.getElementById('event_map_object_geometry_address').style.display = 'block'
        }

        function closeEventModal() {
            document.getElementById('eventModal').style.display = 'none'
        }

        function createEventOnMap(lat, lng) {
            document.getElementById('eventModal').style.display = 'block'
            // document.getElementById('event_map_object_geometry_coordinates').style.display = 'block'
            // document.getElementById('event_map_object_geometry_address').style.display = 'none'
            console.log(document.getElementById('event_map_object_geometry_address'))

            document.getElementById('event_map_object_geometry_coordinates').value = lat + ", " + lng
        }

        document.addEventListener('DOMContentLoaded', function () {
            map = L.map('map').setView([45.5017, -73.5673], 8);
            L.control.locate().addTo(map);
            map.on('popupopen', function (e) {
                htmx.process(document.body)
            })

            map.on('click', function (e) {
                map.openPopup(`
                    <div>
                        <button class="w3-btn w3-round w3-green" onclick="createEventOnMap(${e.latlng.lat}, ${e.latlng.lng})">
                            Signaler un évènement ici
                        </button>
                    </div>`,
                    e.latlng,
                    {}
                );
                if (temporaryMarker) {
                    map.removeLayer(temporaryMarker);
                    temporaryMarker = null;
                }
            })

            var layer = protomapsL.leafletLayer({
                url: 'https://hackqc2024.cedille.club/my_area.pmtiles',
                theme: 'light',
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            })
            layer.addTo(map)

            markupLayer = L.layerGroup().addTo(map);
            panneLayer = L.layerGroup();

            let data = JSON.parse("{{ .MapItemsJson }}")
            addPannesOverlay(panneLayer)
            addDataPoints(data, markupLayer)
            params = new URLSearchParams(window.location.search);

            filters = Alpine.store('filters')
            if (filters.categories['Panne d\'électricité'] && filters.urgencyLevels['1'] && filters.dangerLevels['2']
                && params.get('type') != 'helps') {
                panneLayer.addTo(map);
            }
        });

        document.addEventListener('alpine:init', () => {
            Alpine.store('filters', {
                categories: {
                    {{ range .EventCategories }}
                    '{{ .Value }}': true,
            {{ end }}
            {{ range .HelpCategories }}
            '{{ .Value }}': true,
            {{ end }}
                },
            urgencyLevels: {
                    {{ range .UrgencyLevels }}
            '{{ .Value }}': true,
            {{ end }}
                },
            dangerLevels: {
                    {{ range .DangerLevels }}
            '{{ .Value }}': true,
            {{ end }}
                },
            eventCategories: [
            {{ range .EventCategories }}
            "{{ .Value }}",
            {{ end }}
        ],
            helpCategories: [
            {{ range .HelpCategories }}
            "{{ .Value }}",
            {{ end }}
        ]
                });

        let params = new URLSearchParams(window.location.search);
        let filters = Alpine.store('filters');
        if (params.has('map_object.category')) {
            Object.keys(filters.categories).forEach((v, k) => {
                filters.categories[v] = params.getAll('map_object.category').includes(v);
            });
        }
        if (params.has('urgency_type')) {
            Object.keys(filters.urgencyLevels).forEach((v, k) => {
                filters.urgencyLevels[v] = params.getAll('urgency_type').includes(v);
            });
        }
        if (params.has('danger_level')) {
            Object.keys(filters.dangerLevels).forEach((v, k) => {
                filters.dangerLevels[v] = params.getAll('danger_level').includes(v);
            });
        }
        Alpine.store('filters', filters);
        Alpine.store('showAideLieeCard', params.has('event_id') && params.get('type') == 'helps');

        });

        function isAllSelected(categoryArray, filter) {
            filters = Alpine.store("filters")
            return categoryArray.every(v => filters[filter][v] == true)
        }
    </script>
</head>

<body>

    {{ template "components/navbar" . }}

    <div class="map" style="position: absolute; width: 100vw;max-width: none;"
        x-data="{mobile: mobileCheck(), showFiltresMobile: false}">

        <div class="w3-container w3-center" x-cloak x-show="mobile">
            <button @click="showFiltresMobile = !showFiltresMobile" style="z-index: 6969;position:relative;width: 70vw;"
                class="w3-btn w3-round-large w3-margin-bottom w3-margin-top w3-white">Filtres</button>
        </div>

        <div class="w3-container" x-cloak x-show="!mobile || showFiltresMobile">
            <div style="z-index: 6969; position:relative; margin-top: 10px;max-width:70vw"
                class="w3-auto w3-round-large">
                <div x-data="{ active: '' }" class="w3-center" x-show="!$store.showAideLieeCard">
                    <div class="w3-white w3-round-large w3-card" style="position: relative; z-index: 6969;display:flex; justify-content: center;flex-wrap:wrap;">
                        <div style="display:inline-block;padding: 16px;min-width: 405px;">
                            <div class="w3-center w3-text-gray">Filtres</div>
                            <div class="w3-border-top w3-border-gray">
                                <button @click="active = active == 'categories' ? '' : 'categories'"
                                    class="w3-btn w3-border w3-border-gray w3-round-xlarge w3-margin"
                                    x-bind:class="active == 'categories' ? 'w3-blue' : 'w3-white'">
                                    Catégories
                                    <span
                                        x-bind:class="isAllSelected(Object.keys($store.filters.categories), 'categories') ? 'w3-hide' : ''"
                                        class="w3-badge w3-gray">1</span>
                                </button>

                                <button @click="active = active == 'urgency' ? '' : 'urgency'"
                                    class="w3-btn w3-border w3-border-gray w3-round-xlarge w3-margin"
                                    x-bind:class="active == 'urgency' ? 'w3-blue' : 'w3-white'">
                                    Urgence
                                    <span
                                        x-bind:class="isAllSelected(Object.keys($store.filters.urgencyLevels), 'urgencyLevels') ? 'w3-hide' : ''"
                                        class="w3-badge w3-gray">1</span>
                                </button>

                                <button @click="active = active == 'dangerLevel' ? '' : 'dangerLevel'"
                                    class="w3-btn w3-border w3-border-gray w3-round-xlarge w3-margin"
                                    x-bind:class="active == 'dangerLevel' ? 'w3-blue' : 'w3-white'">
                                    Danger
                                    <span
                                        x-bind:class="isAllSelected(Object.keys($store.filters.dangerLevels), 'dangerLevels') ? 'w3-hide' : ''"
                                        class="w3-badge w3-gray">1</span>
                                </button>
                            </div>
                        </div>

                        <div style="display:inline-block;padding: 16px;min-width: 475px;">
                            <div class="w3-center w3-text-gray">Actions</div>
                            <div class="w3-border-top w3-border-gray">
                                <button onclick="displayEventModal()"
                                    class="w3-btn w3-border w3-border-gray w3-round-xlarge w3-margin" {{ if not
                                    .ActiveSession }} disabled title="Veuillez vous connecter" {{ end }}>Créer un
                                    évènement</button>
                                <a href="/map" class="w3-btn w3-border w3-border-gray w3-round-xlarge w3-margin"
                                    style="margin-left: 10px;">Réinitialiser les filtres</a>
                            </div>
                        </div>

                        <div style="display:inline-block;padding: 16px;min-width: 325px;">
                            <div class="w3-center w3-text-gray w3-border-gray w3-border-bottom">Centrer sur une adresse
                            </div>
                            <div class="w3-margin">
                                <div class="w3-round-large">
                                    <div id="autocomplete"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Categories -->
                    <div x-show="active == 'categories'"
                        x-data="{ showAllEvents: isAllSelected($store.filters.eventCategories, 'categories'),    toggleEvents() { this.showAllEvents = !this.showAllEvents ; $store.filters.eventCategories.forEach(v => $store.filters.categories[v] = this.showAllEvents) },
                                  showAllHelps: isAllSelected($store.filters.helpCategories, 'categories'), toggleHelps() { this.showAllHelps = !this.showAllHelps ; $store.filters.helpCategories.forEach(v => $store.filters.categories[v] = this.showAllHelps) } }"
                        class="w3-panel w3-padding-32 w3-topbar w3-border-blue w3-white w3-animate-top w3-round-large w3-card"
                        style="display: none; margin-top:0px; z-index: 420; position: relative;">
                        <div x-data>
                            <div class="w3-border-bottom w3-border-gray">
                                <h6 class="w3-text-blue">Évènements</h6>
                                <button class="w3-btn w3-margin-right w3-margin-bottom w3-round-large"
                                    x-bind:class="isAllSelected($store.filters.eventCategories, 'categories') ? 'w3-border-light-gray w3-border' : 'w3-light-gray'"
                                    x-text="isAllSelected($store.filters.eventCategories, 'categories') ? 'Tout désélectionner' : 'Tout sélectionner'"
                                    @click="toggleEvents(); updateDataPointsWithFilter()">Tout sélectionner</button>
                                {{ range .EventCategories }}
                                <button
                                    class="w3-btn w3-border w3-border-blue w3-margin-right w3-margin-bottom w3-round-large"
                                    x-bind:class="$store.filters.categories['{{ .Value |  escapeSingleQuotes}}'] ? 'w3-blue' : 'w3-white'"
                                    @click="$store.filters.categories['{{ .Value |  escapeSingleQuotes }}'] = !$store.filters.categories['{{ .Value |  escapeSingleQuotes }}']; updateDataPointsWithFilter(), showAllEvents = isAllSelected($store.filters.eventCategories, 'categories')"
                                    x-text="'{{ .Name |  escapeSingleQuotes }}'"></button>
                                {{ end }}
                            </div>
                            <div>
                                <h6 class="w3-text-blue">Aides</h6>
                                <button class="w3-btn w3-margin-right w3-margin-bottom w3-round-large"
                                    x-bind:class="isAllSelected($store.filters.helpCategories, 'categories') ? 'w3-border-light-gray w3-border' : 'w3-light-gray'"
                                    x-text="isAllSelected($store.filters.helpCategories, 'categories') ? 'Tout désélectionner' : 'Tout sélectionner'"
                                    @click="toggleHelps(); updateDataPointsWithFilter()">Tout sélectionner</button>
                                {{ range .HelpCategories }}
                                <button
                                    class="w3-btn w3-border w3-border-blue w3-margin-right w3-margin-bottom w3-round-large"
                                    x-bind:class="$store.filters.categories['{{ .Value |  escapeSingleQuotes}}'] ? 'w3-blue' : 'w3-white'"
                                    @click="$store.filters.categories['{{ .Value |  escapeSingleQuotes }}'] = !$store.filters.categories['{{ .Value |  escapeSingleQuotes }}']; updateDataPointsWithFilter(), showAllHelps = isAllSelected($store.filters.helpCategories, 'categories')"
                                    x-text="'{{ .Name |  escapeSingleQuotes }}'"></button>
                                {{ end }}
                            </div>
                        </div>
                        <footer class="w3-container" style="height: 0;">
                            <span @click="active = ''"
                                class="w3-button w3-large w3-display-bottommiddle w3-round-large">︽</span>
                            </header>
                        </footer>
                    </div>

                    <!-- Urgency -->
                    <div x-show="active == 'urgency'"
                        x-data="{ showAll: isAllSelected(Object.keys($store.filters.urgencyLevels), 'urgencyLevels'), toggle() { this.showAll = !this.showAll ; Object.keys($store.filters.urgencyLevels).forEach(v => $store.filters.urgencyLevels[v] = this.showAll) } }"
                        class="w3-panel w3-padding-32 w3-topbar w3-border-blue w3-white w3-animate-top w3-round-large w3-card"
                        style="display: none; margin-top:0px; z-index: 420; position: relative;">
                        <div x-data>
                            <button class="w3-btn w3-margin-right w3-margin-bottom w3-round-large"
                                x-bind:class="isAllSelected(Object.keys($store.filters.urgencyLevels), 'urgencyLevels') ? 'w3-border-light-gray w3-border' : 'w3-light-gray'"
                                x-text="isAllSelected(Object.keys($store.filters.urgencyLevels), 'urgencyLevels') ? 'Tout désélectionner' : 'Tout sélectionner'"
                                @click="toggle(); updateDataPointsWithFilter()">Tout sélectionner</button>
                            {{ range .UrgencyLevels }}
                            <button
                                class="w3-btn w3-border w3-border-blue w3-margin-right w3-margin-bottom w3-round-large"
                                x-bind:class="$store.filters.urgencyLevels['{{ .Value |  escapeSingleQuotes}}'] ? 'w3-blue' : 'w3-white'"
                                @click="$store.filters.urgencyLevels['{{ .Value |  escapeSingleQuotes }}'] = !$store.filters.urgencyLevels['{{ .Value |  escapeSingleQuotes }}']; updateDataPointsWithFilter(), showAll = isAllSelected(Object.keys($store.filters.urgencyLevels), 'urgencyLevels')"
                                x-text="'{{ .Name |  escapeSingleQuotes }}'"></button>
                            {{ end }}
                        </div>
                        <footer class="w3-container" style="height: 0;">
                            <span @click="active = ''"
                                class="w3-button w3-large w3-display-bottommiddle w3-round-large">︽</span>
                            </header>
                        </footer>
                    </div>

                    <!-- Danger Level -->
                    <div x-show="active == 'dangerLevel'"
                        x-data="{ showAll: isAllSelected(Object.keys($store.filters.dangerLevels), 'dangerLevels'), toggle() { this.showAll = !this.showAll ; Object.keys($store.filters.dangerLevels).forEach(v => $store.filters.dangerLevels[v] = this.showAll) } }"
                        class="w3-panel w3-padding-32 w3-topbar w3-border-blue w3-white w3-animate-top w3-round-large w3-card"
                        style="display: none; margin-top:0px; z-index: 420; position: relative;">
                        <div x-data>
                            <button class="w3-btn w3-margin-right w3-margin-bottom w3-round-large"
                                x-bind:class="isAllSelected(Object.keys($store.filters.dangerLevels), 'dangerLevels') ? 'w3-border-light-gray w3-border' : 'w3-light-gray'"
                                x-text="isAllSelected(Object.keys($store.filters.dangerLevels), 'dangerLevels') ? 'Tout désélectionner' : 'Tout sélectionner'"
                                @click="toggle(); updateDataPointsWithFilter()">Tout sélectionner</button>
                            {{ range .DangerLevels }}
                            <button
                                class="w3-btn w3-border w3-border-blue w3-margin-right w3-margin-bottom w3-round-large"
                                x-bind:class="$store.filters.dangerLevels['{{ .Value |  escapeSingleQuotes}}'] ? 'w3-blue' : 'w3-white'"
                                @click="$store.filters.dangerLevels['{{ .Value |  escapeSingleQuotes }}'] = !$store.filters.dangerLevels['{{ .Value |  escapeSingleQuotes }}']; updateDataPointsWithFilter(), showAll = isAllSelected(Object.keys($store.filters.dangerLevels), 'dangerLevels')"
                                x-text="'{{ .Name |  escapeSingleQuotes }}'"></button>
                            {{ end }}
                        </div>
                        <footer class="w3-container" style="height: 0;">
                            <span @click="active = ''"
                                class="w3-button w3-large w3-display-bottommiddle w3-round-large">︽</span>
                            </header>
                        </footer>
                    </div>
                </div>
                <div x-data>
                    <div id="aideLieeCard" class="w3-margin-top w3-center w3-round-large w3-white w3-card"
                        x-show="$store.showAideLieeCard">
                        <div class="w3-container w3-padding">
                            <!-- Explain this mode-->
                            <p>Ce mode permet de visualiser les aides liées à un évènement.
                                <!-- Button to go back to all  -->
                                <a class="w3-btn w3-blue w3-margin-left w3-round-large" href="/map">Retourner à la
                                    carte</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="map" style="width:100%;height:100%;max-width: none;margin-top: 0 !important; position: absolute;top:0;"
            class="w3-card w3-margin-top w3-auto w3-round-large"></div>

        <!-- END OF PAGE -->

        <div id="helpModal" class="w3-modal">
            <div class="w3-modal-content w3-animate-opacity w3-card-8 w3-round-xlarge">
                <header class="w3-container">
                    <span onclick="document.getElementById('helpModal').style.display='none'"
                        class="w3-button w3-teal w3-large w3-display-topright w3-round-large w3-margin">&times;</span>
                    <h2 class="w3-margin-left">Soumettre une offre d'aide</h2>
                </header>

                {{ template "forms/helpForm.html" . }}

                <footer class="w3-container w3-teal">
                    <p>Merci pour votre contribution!</p>
                </footer>
            </div>
        </div>
    </div>

    <div id="eventModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-opacity w3-card-8 w3-round-xlarge">
            <header class="w3-container">
                <span onclick="closeEventModal()"
                    class="w3-button w3-teal w3-large w3-display-topright w3-round-large w3-margin">&times;</span>
                <h2 class="w3-margin-left">Soumettre un évènement</h2>
            </header>

            {{ template "forms/eventForm.html" . }}

            <footer class="w3-container w3-teal">
                <p>Merci pour votre contribution!</p>
            </footer>
        </div>
    </div>

    <script src="/static/map_search.js"></script>

</body>

</html>
{{ end }}