{{ define "forms/accountForm.html" }}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Créer un compte</title>
  <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/formStyle.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
  {{ template "components/navbar" . }}
  <div class="row" id="form-container">
    <div class="col-md-12">
      <form action="/create-account" method="post">
        <h1>Créer un compte</h1>
        <h5 style="color: red;">{{ .Error }}</h5>
        <fieldset>
          <label for="user_name">Nom d'utilisateur:</label>
          <input type="text" placeholder="Nom d'utilisateur" id="user_name" name="user_name" required>

          <label for="first_name">Prénom:</label>
          <input type="text" placeholder="Prénom" id="first_name" name="first_name" required>

          <label for="last_name">Nom:</label>
          <input type="text" placeholder="Nom" id="last_name" name="last_name" required>

          <label for="email">Courriel:</label>
          <input type="text" placeholder="Courriel" id="email" name="email" required>

        </fieldset>

        <button type="submit">Créer</button>

      </form>
    </div>
  </div>

</body>

</html>
{{ end }}