{{ define "forms/accountForm.html" }}
<html>

<head>

  {{ template "components/head.html" . }}

  <link rel="stylesheet" href="/static/loginAccountFormStyle.css">
  <title>Créer un compte</title>

</head>

<body>
  {{ template "components/navbar" . }}
  <div class="row" id="form-account">
    <div class="col-md-12">
      <form action="/create-account" method="post">
        <h1>Créer un compte</h1>
        <h5 style="color: red;">{{ .Error }}</h5>
        <fieldset>
          <label for="user_name">Nom d'utilisateur:</label>
          <input type="text" placeholder="Nom d'utilisateur" id="user_name" name="user_name" required>

          <label for="first_name">Prénom:</label>
          <input type="text" placeholder="Prénom" id="first_name" name="first_name" required>

          <label for="last_name">Nom:</label>
          <input type="text" placeholder="Nom" id="last_name" name="last_name" required>

          <label for="email">Courriel:</label>
          <input type="email" placeholder="Courriel" id="email" name="email" required>

          <label for="phone_number">Téléphone (optionnel):</label>
          <input type="tel" x-mask="(999) 999-9999" placeholder="(999) 999-9999" id="phone_number" name="phone_number">

          <label for="coordinates">Coordonnées: (Pour vous rejoindre quand un évènement est signalé près de
            vous)</label>
          <input type="text" placeholder="Coordonnées (latitude, longitude. Ex.: 45.49482822811503, -73.5623371708045)"
            id="coordinates" name="coordinates">

          <label for="coordinates">Rechercher une adresse pour remplir les coordonnées (optionnel):</label>
          <div class="aa-Gray" id="account_address"></div>

        </fieldset>

        <button type="submit">Créer</button>

      </form>

      <script type="text/javascript">
        const { autocomplete } = window['@algolia/autocomplete-js'];

        /**
       * @param {string} address partial address
       * @returns {Array<string>} List of addresses
       */
        async function getAdresses(address) {
          const res = await fetch(`https://geoegl.msp.gouv.qc.ca/apis/icherche/geocode?type=adresses&limit=5&geometry=true&q=${address}`);
          const json = await res.json();
          return json.features.map(feature => {
            return feature
          });
        }

        autocomplete({
          container: '#account_address',
          placeholder: 'Adresse...',
          getSources({ query }) {
            return [
              {
                sourceId: 'addresse',
                async getItems() {
                  let addresses = await getAdresses(query);
                  return addresses;
                },
                templates: {
                  item({ item }) {
                    return `${item.properties.nom}`;
                  },
                },
                onSelect: function (event) {
                  const selectedAddress = event.item
                  const adresseInput = document.getElementById("account_address")
                  const pointInput = document.getElementById("coordinates")
                  const coords = selectedAddress.geometry.coordinates
                  adresseInput.value = selectedAddress.properties.nom
                  pointInput.value = coords[1] + ", " + coords[0]
                },
              },
            ];
          },
        });
      </script>

    </div>
  </div>

</body>

</html>
{{ end }}