{{ define "forms/eventForm.html" }}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Créer un évènement</title>
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">
  <!-- <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0"> -->
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/formStyle.css">
</head>
<div class="row">
  <div class="col-md-12">
    <form action="/create-event" method="post" id="form-container" style="padding: 20px;">
      <fieldset>
        <legend><span class="number">1</span>Évènement</legend>

        <label for="map_object_name">Nom:</label>
        <input type="text" placeholder="Nom" id="map_object_name" name="map_object_name" required>

        <label for="map_object_description">Description:</label>
        <textarea id="map_object_description" name="map_object_description" placeholder="Description...." tabindex="5"
          required></textarea>
      </fieldset>

      <fieldset>
        <legend><span class="number">2</span>Informations supplémentaires</legend>

        <label for="map_object_category">Catégorie:</label>
        <select id="map_object_category" name="map_object_category" required>
          <option value="" disabled selected>Sélectionner une catégorie</option>
          {{ range .CategoryKeys }}
          <option value="{{ . }}">{{ . }}</option>
          {{ end }}
        </select>

        <label for="danger_level">Niveau de danger:</label>
        <select id="danger_level" name="danger_level" required>
          <option value="" disabled selected>Sélectionner un niveau de danger</option>
          <option value="0">Élevé</option>
          <option value="1">Modéré</option>
          <option value="2">Faible</option>
        </select>

        <label for="urgency_type">Niveau d'urgence:</label>
        <select id="urgency_type" name="urgency_type" required>
          <option value="" disabled selected>Sélectionner un niveau d'urgence</option>
          <option value="0">Futur</option>
          <option value="1">Présent</option>
          <option value="2">Passé</option>
        </select>

        <label for="map_object_geometry">Coordonnées:</label>
        <input type="hidden" name="event_map_object_geometry_type" value="Point">
        <input type="hidden" value="Point" name="map_object_geometry_type"/>

        <input type="text" placeholder="Coordonnées Coordonnées (latitude, longitude. Ex.: 45.49482822811503, -73.5623371708045)" id="event_map_object_geometry_coordinates" name="map_object_geometry_coordinates" required>

        <label for="map_object_geometry">Rechercher une adresse pour remplir les coordonnées (optionnel):</label>
        <div class="aa-Gray" id="event_map_object_geometry_address"></div>

        <label for="map_object_tags">Tags:</label>
        <input type="text" id="map_object_tags" placeholder="format: tag1, tag2, ..." name="map_object_tags">

      </fieldset>

      <button class="w3-button w3-teal w3-margin-top" type="submit">Soumettre</button>

    </form>
  </div>
</div>
{{ end }}