{{ define "forms/loginForm.html" }}

<html>

<head>
  
  {{ template "components/head.html" . }}

  <title>Se connecter</title>
  <link rel="stylesheet" href="/static/loginAccountFormStyle.css">
</head>

<body>
  {{ template "components/navbar" . }}
  <div class="row" id="form-account">
    <div class="col-md-12">
      <form action="/login" method="post">
        <h1>Se connecter</h1>
        <h5 style="color: red;">{{ .Error }}</h5>
        <fieldset>
          <label for="user_name">Nom d'utilisateur:</label>
          <input type="text" placeholder="Nom d'utilisateur" id="user_name" name="user_name" required>

          <label for="email">Courriel:</label>
          <input type="text" placeholder="Courriel" id="email" name="email" required>
        </fieldset>

        <button type="submit">Se connecter</button>
      </form>
    </div>
  </div>
</body>

</html>
{{ end }}