{{ define "modals/delete-event.html" }}

<div id="modal" class="w3-modal" style="display: block; z-index: 9999;">
    <div class="w3-modal-dialog">
        <div class="w3-modal-content w3-card-8 w3-round-xlarge">
            <header class="w3-container w3-red">
                <button hx-trigger="click" class="w3-button w3-large w3-display-topright" onclick="closeModal()">&times;</button>
                <h2>Voulez-vous vraiment supprimer cet événement ?</h2>
            </header>
            <div class="w3-container">
                <b style="color: black;">Id de l'événement: </b>
                <p class="w3-container" style="color: black;"> {{.Event.Id}} </p>
            </div>
            <div class="w3-container">
                <b style="color: black;">Nom de l'événement: </b>
                <p class="w3-container" style="color: black;"> {{.Event.MapObject.Name}} </p>
            </div>
            <div class="w3-container w3-margin-top w3-margin-bottom">
                <button hx-delete="/events/delete/{{.Event.Id}}" class="w3-button w3-red w3-round-large w3-margin" hx-swap="outerHTML" onclick="reloadPage()">Confirmer la suppression</button>
            </div>
        </div>
    </div>
</div>

<script>
    function closeModal() {
        document.getElementById('modal').style.display = 'none';
        location.reload(); 
    }

    function reloadPage() {
        fetch('/manage-post')
        .then(response => {
            if (response.ok) {
                location.reload();
                console.error('Reloaded');
            } else {
                console.error('Erreur lors de la requête:', response.status);
            }
        })
        .catch(error => {
            console.error('Erreur lors de la requête:', error);
        });
    }
</script>

{{ end }}
