{{ define "modals/delete-help.html" }}

<div id="modal" class="w3-modal" style="display: block; z-index: 9999;">
    <div class="w3-modal-dialog">
        <div class="w3-modal-content w3-card-8 w3-round-xlarge">
            <header class="w3-container w3-red">
                <button hx-trigger="click" class="w3-button w3-large w3-display-topright" onclick="closeModal()">&times;</button>
                <h2>Voulez-vous vraiment supprimer cette demande d'aide ?</h2>
            </header>
            <div class="w3-container">
                <b style="color: black;">Id de l'aide: </b>
                <p class="w3-container" style="color: black;"> {{.Help.Id}} </p>
            </div>
            <div class="w3-container">
                <b style="color: black;">Nom de l'événement: </b>
                <p class="w3-container" style="color: black;"> {{.Help.MapObject.Name}} </p>
            </div>
            <div class="w3-container w3-margin-top w3-margin-bottom">
                <button hx-delete="/help/delete/{{.Help.Id}}" class="w3-button w3-red w3-round-large" hx-swap="outerHTML" onclick="reloadPage()">Confirmer la suppression</button>
            </div>
        </div>
    </div>
</div>

<script>
    function closeModal() {
        document.getElementById('modal').style.display = 'none';
        location.reload(); 
    }

    function reloadPage() {
        location.reload();
        window.location.href = '/map';
    }
</script>

{{ end }}
