{{ define "modals/delete-help.html" }}

<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Supprimer une demande d'aide</title>
      <link rel="icon" href="static/favicon.svg" type="image/x-icon">
      <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
      <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/static/formStyle.css">
      <link rel="stylesheet" href="/static/modal.css">
    </head>
    <form id="form-container" class="w3-card-4" style="padding: 20px; max-height: 1200px; overflow-y: auto;">
      <h1 class="w3-margin">Voulez-vous vraiment supprimer cette demande d'aide ?</h1>
      <div class="w3-container">
        <b style="color: black;">Id de l'aide: </b>
        <p class="w3-container" style="color: black;"> {{.Help.Id}} </p>
      </div>
      <div class="w3-container">
          <b style="color: black;">Nom de l'évènement: </b>
          <p class="w3-container" style="color: black;"> {{.Help.MapObject.Name}} </p>
      </div>
      <div class="button-container">
          <button hx-delete="/help/delete/{{.Help.Id}}" class="w3-button w3-teal w3-round-large" hx-swap="outerHTML" onclick="reloadPage()">Supprimer</button>
          <button _="on click trigger closeModal" class="w3-button w3-red w3-round-large">Annuler</button>
      </div>
    </form>
  </div>
</div>

<script>
    function closeModal() {
        document.getElementById('modal').style.display = 'none';
        location.reload(); 
    }

    function reloadPage() {
        fetch('/manage-post')
        .then(response => {
            if (response.ok) {
                location.reload();
                console.log('Reloaded');
            } else {
                console.error('Erreur lors de la requête:', response.status);
            }
        })
        .catch(error => {
            console.error('Erreur lors de la requête:', error);
        });
    }
</script>
{{ end }}
