{{ define "grid/index.html" }}

<!DOCTYPE html>
<html lang="en">

<head>

    {{ template "components/head.html" . }}

    <title>MUNIS - Liste</title>

    <style>
        * {
            box-sizing: border-box;
        }

        .grid-container>div {
            padding: 1em;
        }

        .grid-container {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
            grid-template-rows: masonry;
            grid-gap: 10px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    {{ template "components/navbar" . }}

    <div class="w3-container">
        <h1>Liste des évènements d'urgence et des offres d'aide</h1>
    </div>

    {{ template "components/grid-toolbar" . }}

    {{ template "components/grid" . }}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            window.addEventListener('keydown', function (event) {
                if (event.keyCode === 13) {
                    htmx.trigger(".filter", "change")
                    console.log("keydown")
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>

</body>

{{ end }}

{{ define "components/grid" }}
<div id="grid" class="grid-container">
    {{ range .Events }}
    {{ template "cards/singleEventCard" . }}
    {{ end }}
    {{ range .Helps }}
    {{ template "cards/singleHelpCard" . }}
    {{ end }}
</div>
{{ end }}

{{ define "components/grid-toolbar" }}
<div id="tool-bar" class="w3-bar w3-light-grey">
    <form id="filter-form" style="margin-block-end: 0px;" hx-get="/grid/search" hx-boost="true" hx-target="#grid"
        hx-trigger="change from:.filter delay:500ms" hx-swap="outerHTML">

        <!-- search box-->
        <div class="w3-bar-item w3-left">
            <!-- search with HTMX, will return event_list_table.html -->
            <input class="w3-input w3-border filter" name="search" type="search" placeholder="Recherche..."
                id="search-box">
        </div>

        <div class="w3-bar-item w3-left">
            <div class="w3-padding">
                <b>Filtres:</b>
            </div>
        </div>

        <!-- Type : Event, Help, Both : Toutes , Evenements, Aides -->


        <div class="w3-bar-item w3-left">
            <div class="w3-dropdown-hover w3-mobile w3-round-large">
                <div class="w3-button">Type <i class="fa fa-caret-down"></i></div>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <div class="w3-bar-item w3-button" _="
                    on click
                    set value to ((<input[name='_.type'][type='checkbox']:not(:checked)/>).length == 0)
                    repeat in <input[name='_.type'][type='checkbox']/>
                      set it.checked to value
                      it.click()
                      repeat in <input[name='_.type'][type='hidden']/>
                        set notValue to value
                        if notValue then
                          set notValue to false
                        else
                          set notValue to true
                        end
                        set it.disabled to notValue
                        it.click()
                      end
                    end">
                        Tout (dé)selectionner
                    </div>
                    <!-- <label class="w3-bar-item w3-button">
                            <input type="checkbox" class="w3-check" name="type" value="all" checked>
                            Tous
                        </label> -->
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check filter" name="_.type" value="event" checked>
                        Évènement
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check filter" name="_.type" value="help" checked>
                        Aide
                    </label>
                    <input type="hidden" class="filter" name="_.type" value="-1" disabled>
                </div>
            </div>
        </div>


        <!-- Category -->
        <div class="w3-bar-item w3-left">
            <div class="w3-dropdown-hover w3-mobile">
                <div _="" class="w3-button">Catégorie d'évènement <i class="fa fa-caret-down"></i></div>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <div class="w3-bar-item w3-button" _="
                    on click
                    set value to ((<input[name='map_object.category'][type='checkbox']:not(:checked)/>).length == 0)
                    repeat in <input[name='map_object.category'][type='checkbox']/>
                      set it.checked to value
                      it.click()
                      repeat in <input[name='map_object.category'][type='hidden']/>
                        set notValue to value
                        if notValue then
                          set notValue to false
                        else
                          set notValue to true
                        end
                        set it.disabled to notValue
                        it.click()
                      end
                    end">
                        Tout (dé)selectionner
                    </div>
                    {{ range $key, $value := .CategoryStyles }}
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check filter" name="map_object.category" value="{{ $key }}"
                            checked>
                        <div class="w3-text-{{ $value.Color }} w3-xlarge material-symbols-rounded">{{ $value.Icon }}
                        </div>
                        {{ $key }}
                    </label>
                    {{ end }}
                    <input type="hidden" class="filter" name="map_object.category" value="-1" disabled>
                </div>
            </div>
        </div>

        <!-- Urgency -->
        <div class="w3-bar-item w3-left">
            <div class="w3-dropdown-hover w3-mobile">
                <div class="w3-button" type="button">Urgence <i class="fa fa-caret-down"></i></div>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <!-- <label class="w3-bar-item w3-button">
                            <input type="checkbox" class="w3-check" name="urgency_type" value="all" checked>
                            Tous
                        </label> -->
                    <div class="w3-bar-item w3-button" _="
                    on click
                    set value to ((<input[name='urgency_type'][type='checkbox']:not(:checked)/>).length == 0)
                    repeat in <input[name='urgency_type'][type='checkbox']/>
                      set it.checked to value
                      it.click()
                      repeat in <input[name='urgency_type'][type='hidden']/>
                        set notValue to value
                        if notValue then
                          set notValue to false
                        else
                          set notValue to true
                        end
                        set it.disabled to notValue
                        it.click()
                      end
                    end">
                        Tout (dé)selectionner
                    </div>
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check filter" name="urgency_type" value="0" checked>
                        Futur
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check filter" name="urgency_type" value="1" checked>
                        Présent
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check filter" name="urgency_type" value="2" checked>
                        Passé
                    </label>
                    <input type="hidden" class="filter" name="urgency_type" value="-1" disabled>
                </div>
            </div>
        </div>

        <!-- Danger -->

        <div class="w3-bar-item w3-left">
            <div class="w3-dropdown-hover w3-mobile">
                <div class="w3-button">Danger <i class="fa fa-caret-down"></i></div>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <!-- <label class="w3-bar-item w3-button">
                            <input type="checkbox" class="w3-check" name="danger_level" value="all" checked>
                            Tous
                        </label> -->
                    <div class="w3-bar-item w3-button" _="
                    on click
                    set value to ((<input[name='danger_level'][type='checkbox']:not(:checked)/>).length == 0)
                    repeat in <input[name='danger_level'][type='checkbox']/>
                      set it.checked to value
                      it.click()
                      repeat in <input[name='danger_level'][type='hidden']/>
                        set notValue to value
                        if notValue then
                          set notValue to false
                        else
                          set notValue to true
                        end
                        set it.disabled to notValue
                        it.click()
                      end
                    end">
                        Tout (dé)selectionner
                    </div>
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check filter" name="danger_level" value="0" checked>
                        Élevé
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check filter" name="danger_level" value="1" checked>
                        Modéré
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check filter" name="danger_level" value="2" checked>
                        Faible
                    </label>
                    <input type="hidden" class="filter" name="danger_level" value="-1" disabled>
                </div>
            </div>
        </div>


        <div class="w3-bar-item w3-left">Trier par:</div>

        <!-- Sorting, radio buttons -->

        <div class="w3-bar-item w3-left">
            <div class="w3-dropdown-hover w3-mobile">
                <div class="w3-button">Trier par <i class="fa fa-caret-down"></i></div>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <label class="w3-bar-item w3-button">
                        <input type="radio" class="w3-radio filter" name="_.sort" value="map_object.date" checked>
                        Date
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="radio" class="w3-radio filter" name="_.sort" value="map_object.name">
                        Nom
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="radio" class="w3-radio filter" name="_.sort" value="urgency">
                        Urgence
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="radio" class="w3-radio filter" name="_.sort" value="danger">
                        Danger
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="radio" class="w3-radio filter" name="_.sort" value="map_object.category">
                        Catégorie
                    </label>
                </div>
            </div>
        </div>

        <!-- Sort Order -->
        <div class="w3-bar-item w3-left">
            <div class="w3-dropdown-hover w3-mobile">
                <div class="w3-button">Ordre <i class="fa fa-caret-down"></i></div>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <label class="w3-bar-item w3-button">
                        <input type="radio" class="w3-radio filter" name="_.sortOrder" value="1" checked>
                        Asc
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="radio" class="w3-radio filter" name="_.sortOrder" value="-1">
                        Desc
                    </label>
                </div>
            </div>
        </div>
    </form>

    <!-- Sorting note -->
    <div class="w3-bar-item w3-left">
        <div class="w3-dropdown-hover w3-mobile">
            <div class="w3-button">* Note</i></div>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <div class="w3-bar-item w3-button">
                    <p>Les évènements seront toujours affichés avant les aides, peu importe l'ordre de tri.</p>
                </div>
                <div class="w3-bar-item w3-button">
                    <p>Les tris lexicographiques traitent les majuscules en priorité.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}