{{ define "helps/table.html" }}

<html lang="en">

<head>
    
    {{ template "components/head.html" . }}

    <title>Liste des aides</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>

    {{ template "components/navbar" . }}

    <h1>Liste des aides</h1>

    {{ template "components/help-toolbar" . }}

    {{ template "components/help-table" . }}
</body>

</html>
{{ end }}

{{ define "components/help-toolbar" }}
    <div id="tool-bar" class="w3-bar w3-light-grey">
        <button class="w3-button w3-purple w3-ripple w3-round w3-left" hx-swap="outerHTML" hx-post="/export-helps"  hx-vals="js:{ids: getSelectedIds()}" onclick="reloadPage()">Exporter sélection</button>
    </div>
{{ end }}

{{ define "components/help-table"}}
<table class="w3-table w3-striped w3-border" id="help-list">
    <tr>
        <th><input type="checkbox" id="select-all"></th>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Categorie</th>
        <th>Coordonnées</th>
        <th>Contact Infos</th>
        <th>Besoin d'aide</th>
        <th>Comment aider</th>
        <th>Utilisation de l'aide</th>
        <th>ID Évènement</th>
    </tr>

    {{ range .Helps }}
    <tr>
        <td><input type="checkbox" class="select-item" value="{{.Id}}"></td>
        <td>{{ .Id }}</td>
        <td>{{ .MapObject.Name }}</td>
        <td>{{ .MapObject.Description }}</td>
        <td>{{ .MapObject.Category }}</td>
        <td>{{ .MapObject.Geometry.Coordinates }}</td>
        <td>{{ .ContactInfos }}</td>
        <td>{{ if .NeedHelp }}Oui{{ else }}Non{{ end }}</td>
        <td>{{ .HowToHelp }}</td>
        <td>{{ .HowToUseHelp }}</td>
        <td><a href="/map?show={{ .EventId }}&event_id={{ .EventId }}&type=helps">{{ .EventId }}</a></td>
    </tr>
    {{ end }}
</table>

<script>
    function getSelectedIds() {
        let selectedIds = "";
        document.querySelectorAll('.select-item:checked').forEach((item, index, array) => {
            selectedIds += item.value;
            if (index < array.length - 1) {
                selectedIds += ",";
            }
        });
        return selectedIds;
    }

    function reloadPage() {
        fetch('/helps/table')
        .then(response => {
            if (response.ok) {
                location.reload();
                console.log('Reloaded');
            } else {
                console.error('Erreur lors de la requête:', response.status);
            }
        })
        .catch(error => {
            console.error('Erreur lors de la requête:', error);
        });
    }

    document.getElementById('select-all').addEventListener('change', function(e) {
        let checked = e.target.checked;
        document.querySelectorAll('.select-item').forEach(function(checkbox) {
            checkbox.checked = checked;
        });
    });
</script>
{{ end }}
