{{ define "components/navbar" }}


<style>
    .munis-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5em;
    }

    .munis-navbar .munis-navbar-item:hover,
    .munis-navbar .munis-navbar-button:hover {
        border-radius: 10px;
    }

    .w3-bar .navbar-right {
        display: flex;
        align-items: center;
    }

    /* Algolia autocomplete */
    .aa-Gray .aa-Form {
        display: flex !important;
        flex-direction: row !important;
        align-items: stretch !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 30px !important;
        padding: 0 !important;
        background-color: rgb(232, 238, 239) !important;
        border: none !important;
        border-radius: 0 !important;
    }

    .aa-Gray *:focus-within {
        border: none !important;
        border-color: none !important;
        box-shadow: none !important;
        outline: none !important;
    }

    .aa-Gray .aa-SubmitButton {
        margin: 0 !important;
        width: auto !important;
        height: 50px !important;
        width: 50px !important;
        background: none !important;
        border-radius: 0 !important;
    }

    .aa-Gray .aa-ClearButton {
        margin: 0 !important;
        width: auto !important;
        height: 50px !important;
        width: 50px !important;
        background: none !important;
    }

    .aa-Gray .aa-Label {
        margin: 0 !important;
    }

    .aa-Gray .aa-Input {
        margin: 0 !important;
        height: 100% !important;
    }

    .aa-Gray .aa-InputWrapperSuffix {
        margin: 0 !important;
        padding: 0 !important;
        height: 50px !important;
        width: 50px !important;
    }

    .aa-Gray .aa-ClearIcon {
        color: rgba(var(--aa-primary-color-rgb), 1) !important;
    }
</style>

<base href="/">
<div x-data="{ mobile: mobileCheck(), sidebar: false }">
    <nav class="w3-bar w3-dark-grey munis-navbar" style="align-items: center;" x-show="!mobile" x-cloak>
        <div style="display: flex; align-items: center;" class="w3-mobile">
            <div href="/" class="w3-bar-item munis-navbar-item w3-mobile" style="display: flex; align-items: center;">
                <img src="static/logo-white.png" alt="Logo" style="height:40px;">
                <span
                    style="margin-left: 10px;margin-right:20px; font-family: 'Roboto', sans-serif; font-size: 24px; font-weight: 700;">Munis</span>
                </a>
                <a href="/map" class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-mobile">Carte</a>
                <a href="/grid" class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-mobile">Grille
                    évènement/aide</a>
                <div class="w3-dropdown-hover w3-mobile">
                    <button class="w3-button munis-navbar-button">Modération<i class="fa fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-bar-block w3-dark-grey" style="z-index:999999999999">
                        <a href="/events/table"
                            class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-mobile">Tableau
                            d'évènements</a>
                        <a href="/helps/table"
                            class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-mobile">Tableau
                            d'aide</a>
                    </div>
                </div>
                <a href="/a-propos" class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-mobile">À
                    propos</a>
            </div>

            <div class="topnav-right">
                {{ if .ActiveSession }}
                <form action="/logout" method="post" style="display: inline;">
                    <button type="submit"
                        class="w3-bar-item munis-navbar-item w3-margin-right w3-button munis-navbar-button w3-right w3-mobile">Se
                        déconnecter</button>
                </form>
                <a href="/manage-post"
                    class="w3-bar-item munis-navbar-item w3-margin-right w3-button munis-navbar-button w3-right w3-mobile">Bonjour,
                    {{ .UserName }} !</a>
                {{ else if .SigningUp }}
                <a href="/login"
                    class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-margin-right w3-right w3-mobile">Se
                    connecter</a>
                <span class="w3-bar-item munis-navbar-item w3-right w3-margin-right w3-mobile">Déjà inscrit ?</span>
                {{ else if .LoggingIn }}
                <a href="/create-account"
                    class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-right w3-mobile">Créer un
                    compte</a>
                <span class="w3-bar-item munis-navbar-item w3-right w3-margin-right w3-mobile">Pas encore de compte
                    ?</span>
                {{ else }}
                <a href="/login"
                    class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-right w3-mobile">Se
                    connecter</a>
                <a href="/create-account"
                    class="w3-bar-item munis-navbar-item w3-margin-right w3-button munis-navbar-button w3-right w3-mobile">Créer
                    un compte</a>
                {{ end }}
            </div>
    </nav>

    <nav class="w3-bar w3-dark-grey" style="align-items: center;" x-show="mobile" x-cloak>
        <div style="display: flex;" class="w3-mobile">
            <button class="w3-button munis-navbar-button w3-large" @click="sidebar = !sidebar">&#9776;</button>
            <div class="w3-bar-item munis-navbar-item w3-mobile" style="display: flex; align-items: center;">
                <img src="static/logo-white.png" alt="Logo" style="height:40px;">
                <span
                    style="margin-left: 10px; font-family: 'Roboto', sans-serif; font-size: 24px; font-weight: 700;">Munis</span>
            </div>
        </div>
    </nav>
    <div class="w3-sidebar w3-bar-block" style="width:70%;z-index: 99999;" x-show="mobile && sidebar">
        <a href="/map"
            class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-margin-top w3-mobile"><b>Carte</b></a>
        <a href="/grid" class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-mobile"><b>Grille
                évènement/aide</b></a>
        <a href="/a-propos" class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-mobile"><b>À
                propos</b></a>
        <div class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-mobile w3-margin-bottom"
            x-data="{dropdown: false}">
            <button class="w3-button munis-navbar-button w3-mobile" style="padding: 0;"
                @click="dropdown = !dropdown"><b>Modération</b></button>
            <div x-show="dropdown">
                <a href="/events/table"
                    class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-mobile">Tableau
                    d'évènements</a>
                <a href="/helps/table"
                    class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-mobile">Tableau d'aide</a>
            </div>
        </div>
        <div class="topnav-right">
            {{ if .ActiveSession }}
            <form action="/logout" method="post" style="display: inline;">
                <button type="submit"
                    class="w3-bar-item munis-navbar-item w3-margin-right w3-button munis-navbar-button w3-right w3-mobile"><b>Se
                        déconnecter</b></button>
            </form>
            <a href="/manage-post"
                class="w3-bar-item munis-navbar-item w3-margin-right w3-button munis-navbar-button w3-right w3-mobile">Bonjour,
                {{ .UserName }} !</a>
            {{ else if .SigningUp }}
            <span class="w3-bar-item munis-navbar-item w3-right w3-mobile">Déjà inscrit ?</span>
            <a href="/login"
                class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-right w3-mobile"><b>Se
                    connecter</b></a>
            {{ else if .LoggingIn }}
            <span class="w3-bar-item munis-navbar-item w3-right w3-mobile" style="padding: 0;">Pas encore de compte
                ?</span>
            <a href="/create-account"
                class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-right w3-mobile"><b>Créer un
                    compte</b></a>
            {{ else }}
            <a href="/login" class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-right w3-mobile"
                style="padding: 0;"><b>Se
                    connecter</b></a>
            <a href="/create-account"
                class="w3-bar-item munis-navbar-item w3-button munis-navbar-button w3-right w3-mobile"><b>Créer
                    un compte</b></a>
            {{ end }}
        </div>
    </div>
</div>
</base>
{{ end }}