<!-- event list table -->
{{ define "list/event_list_table.html" }}
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Category</th>
        <th>Coordinates</th>
        <th>Urgency</th>
        <th>Danger Level</th>
    </tr>

    {{ range .Events }}
        <tr>
            <td>{{ .MapObject.Name }}</td>
            <td>{{ .MapObject.Description }}</td>
            <td>{{ .MapObject.Date }}</td>
            <td>{{ .MapObject.Category }}</td>
            <td>{{ .MapObject.Coordinates }}</td>
            <td>{{ .GetUrgencyTypeString }}</td>
            <td>{{ .GetDangerLevelString }}</td>
        </tr>
    {{ end }}
</table>
{{ end }}