{{ define "events/table.html" }}

<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="icon" href="static/favicon.svg" type="image/x-icon">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Liste des événements d'urgence</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>

    {{ template "components/navbar" . }}

    <h1>Liste des événements d'urgence</h1>

    {{ template "components/event-toolbar" . }}

    {{ template "components/event-table" . }}
</body>

</html>
{{ end }}

{{ define "components/event-toolbar" }}
<div id="tool-bar" class="w3-bar w3-light-grey">
    <!-- search box-->
    <div class="w3-bar-item w3-left">
        <!-- search with HTMX, will return event_list_table.html -->
        <input class="w3-input w3-border" name="search" type="search" placeholder="Recherche..." id="search-box"
            hx-trigger="input changed delay:300ms, search" hx-indicator=".htmx-indicator" hx-get="/events/table/search"
            hx-target="#event-list" hx-swap="outerHTML">
    </div>

    <div class="w3-bar-item w3-left">Afficher seulement:</div>

    <!-- Category -->
    <form style="margin-block-end: 0px;" hx-get="/events/table/search" hx-boost="true" hx-target="#event-list" hx-trigger="change from:.w3-check delay:300ms" hx-swap="outerHTML">
    <div class="w3-bar-item w3-left">
        <div class="w3-dropdown-hover w3-mobile">
            <button class="w3-button">Catégorie<i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="all">
                    Tous
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="vent">
                    Vent
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="pluie">
                    Pluie                
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="neige">
                    Neige
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="tempête hivernale">
                    Tempête hivernale
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="onde de tempête">
                    Onde de tempête
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="inondation">
                    Inondation
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="panne de télécommunication">
                    Panne de télécommunication
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="effondrement de structure">
                    Effondrement de structure
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="tornade">
                    Tornade
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="crise civile">
                    Crise civile
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="risque de gaz toxiques">
                    Risque de gaz toxiques
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="accès à la chaleur">
                    Accès à la chaleur
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="accès à l'eau">
                    Accès à l'eau
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="avalanche">
                    Avalanche
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="maladie infectieuse">
                    Maladie infectieuse
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="category" value="coronavirus">
                    Coronavirus
                </label>
            </div>
        </div>
    </div>

    <!-- Urgency -->
    <div class="w3-bar-item w3-left">
        <form style="margin-block-end: 0px;" id="urgency-form" hx-get="/events/table/search" hx-boost="true" hx-trigger="change from:.w3-check delay:300ms" hx-target="#event-list" hx-swap="outerHTML">
            <div class="w3-dropdown-hover w3-mobile">
                <button class="w3-button" type="button">Urgence<i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check" name="urgency" value="all">
                        Tous
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check" name="urgency" value="futur">
                        Futur
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check" name="urgency" value="present">
                        Présent
                    </label>
                    <label class="w3-bar-item w3-button">
                        <input type="checkbox" class="w3-check" name="urgency" value="past">
                        Passé
                    </label>
                </div>
            </div>
        </form>
    </div>

    <!-- Danger -->
    <form style="margin-block-end: 0px;" hx-get="/events/table/search" hx-target="#event-list" hx-boost="true" hx-trigger="change from:.w3-check delay:300ms" hx-swap="outerHTML"></form>
    <div class="w3-bar-item w3-left">
        <div class="w3-dropdown-hover w3-mobile">
            <button class="w3-button">Danger<i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="danger" value="all">
                    Tous
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="danger" value="high">
                    Élevé
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="danger" value="medium">
                    Modéré
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="checkbox" class="w3-check" name="danger" value="low">
                    Faible
                </label>
            </div>
        </div>
    </div>
    </form>
    
    <div class="w3-bar-item w3-left">Trier par:</div>

    <!-- Sorting, radio buttons -->
    <form style="margin-block-end: 0px;" hx-get="/events/table/search" hx-target="#event-list" hx-boost="true" hx-trigger="change from:.w3-radio delay:300ms" hx-swap="outerHTML"></form>
    <div class="w3-bar-item w3-left">
        <div class="w3-dropdown-hover w3-mobile">
            <button class="w3-button">Trier par<i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <label class="w3-bar-item w3-button">
                    <input type="radio" class="w3-radio" name="sort" value="date">
                    Date
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="radio" class="w3-radio" name="sort" value="name">
                    Nom
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="radio" class="w3-radio" name="sort" value="urgency">
                    Urgence
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="radio" class="w3-radio" name="sort" value="danger">
                    Danger
                </label>
                <label class="w3-bar-item w3-button">
                    <input type="radio" class="w3-radio" name="sort" value="category">
                    Catégorie
                </label>
            </div>
        </div>
    </div>
    </form>

</div>
{{ end }}

{{ define "components/event-table"}}
<table class="w3-table w3-striped w3-border" id="event-list">
    <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Date</th>
        <th>Catégorie</th>
        <th>Coordonnées</th>
        <th>Urgence</th>
        <th>Danger</th>
    </tr>

    {{ range .Events }}
    <tr>
        <td>{{ .MapObject.Name }}</td>
        <td>{{ .MapObject.Description }}</td>
        <td>{{ .MapObject.Date }}</td>
        <td>{{ .MapObject.Category }}</td>
        <td>{{ .MapObject.Geometry.Coordinates }}</td>
        <td>{{ .GetUrgencyTypeString }}</td>
        <td>{{ .GetDangerLevelString }}</td>
    </tr>
    {{ end }}
</table>

{{ end }}