{{ define "events/table.html" }}

<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Liste des événements d'urgence</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>

    {{ template "components/navbar" . }}

    <h1>Liste des événements d'urgence</h1>

    {{ template "components/event-toolbar" . }}

    {{ template "components/event-table" . }}
</body>

</html>
{{ end }}

{{ define "components/event-toolbar" }}
<div id="tool-bar" class="w3-bar w3-light-grey">
    <!-- search box-->
    <div class="w3-bar-item w3-left">
        <!-- search with HTMX, will return event_list_table.html -->
        <input class="w3-input w3-border" name="search" type="search" placeholder="Recherche..." id="search-box"
            hx-trigger="input changed delay:300ms, search" hx-indicator=".htmx-indicator" hx-get="/events/table/search"
            hx-target="#event-list" hx-swap="outerHTML">
    </div>

    <div class="w3-bar-item w3-left">Afficher seulement:</div>

    <!-- drop down: Urgency -->
    <div class="w3-bar-item w3-left"><label for="urgency-dropdown">Urgence:</label></div>
    <div class="w3-bar-item w3-left">
        <select class="w3-select w3-border" id="urgency-dropdown" name="filter-urgency">
            <option value="all">Tous</option>
            <option value="futur">Futur</option>
            <option value="present">Présent</option>
            <option value="past">Passé</option>
        </select>
    </div>

    <!-- drop down: Danger -->
    <div class="w3-bar-item w3-left"><label for="danger-dropdown">Danger:</label></div>
    <div class="w3-bar-item w3-left">
        <select class="w3-select w3-border" id="danger-dropdown" name="filter-danger">
            <option value="all">Tous</option>
            <option value="high">Élevé</option>
            <option value="medium">Modéré</option>
            <option value="low">Faible</option>
        </select>
    </div>

    <div class="w3-bar-item w3-left">Trier par:</div>

    <!-- Sorting -->
    <div class="w3-bar-item w3-left">
        <select class="w3-select w3-border" id="sort-dropdown" name="sort">
            <option value="date">Date</option>
            <option value="name">Nom</option>
            <option value="urgency">Urgence</option>
            <option value="danger">Danger</option>
            <option value="category">Catégorie</option>
        </select>
    </div>
</div>
{{ end }}

{{ define "components/event-table"}}
<table class="w3-table w3-striped w3-border" id="event-list">
    <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Date</th>
        <th>Catégorie</th>
        <th>Coordonnées</th>
        <th>Urgence</th>
        <th>Danger</th>
    </tr>

    {{ range .Events }}
    <tr>
        <td>{{ .MapObject.Name }}</td>
        <td>{{ .MapObject.Description }}</td>
        <td>{{ .MapObject.Date }}</td>
        <td>{{ .MapObject.Category }}</td>
        <td>{{ .MapObject.Geometry.Coordinates }}</td>
        <td>{{ .GetUrgencyTypeString }}</td>
        <td>{{ .GetDangerLevelString }}</td>
    </tr>
    {{ end }}
</table>

{{ end }}